<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test preserve-order="true" name="All Test">
        <classes>
            <class name="TestScripts.TestHomePage">
                <methods>
                    <include name="checkingTitle"/>
                    <include name="clickOnBookList"/>
                </methods>
            </class>
            <class name="TestScripts.TestBookListPageOne">
                <methods>
                    <include name="TestBookListTitle"/>
                    <include name="navigateToNextBookListPage"/>
                </methods>
            </class>
            <class name="TestScripts.TestBookRokayaAyatODoa"/>
            <class name="TestScripts.TestRuqayaBookDetails"/>
            <class name="TestScripts.TestCheckOutPage"/>
        </classes>
    </test>
</suite>